body{
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}

.dev-span{
    color: orange;
}

.flex{
    display: flex;
    
}

.div-half-width{
    width: 50%;
    padding-left: 5%
}

.div-half-width img{
    width: 80%;
}

.para{
    padding-right: 10%;
}
.text-decoration{
    color: white;
    font-weight: 700px;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 15px 50px;
    border-radius: 5px;
}